* {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

.column {
    width: 40%;
    padding: 10px;
    float: left;
}

hr.solid{
    border-top: 1px solid #000;
    width: 80%
}

.copyright{
    font-family: 'Courier New', monospace;
    text-align: right;
    font-style: italic;
}

.centrer{
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 26px;
    color: ivory;
}

.cells{
    text-align: center;
    width: 50vw;
    border: 1px solid #000;
}

body, html{
    height: 100%;
    width: 100%;
}

.bg1, .bg2, .bg3  {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1  {
    background-image: url("img0.jpg");

}

.bg2  {
    background-color: black;

}

.bg3  {
    background-image: url("img1.jpg");

}

.bg3 p {
color: red;
}
