*{
    font-family:  'Courier New', monospace;
}

h1, h2 {
    color: rgb(26, 26, 26);
}

h3 {
    color: rgb(58, 58, 58);
    font-size: 1.2em;
}

h4 {
    color: white;
    background-color: black;
    text-align: center;
}

table {
    box-shadow: 1px 1px 10px grey;
}

td, tr, a, table, h4{
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

h4 {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr {
    text-align: center;
}

h4 > a {
    color: inherit;
    text-decoration: none;
}