*{
    font-family: Avenir, sans-serif;
}

a {
    ;
}

.copyright{
    font-family: 'Courier New', monospace;
    text-align: right;
    font-style: italic;
    position: sticky;
    
}

nav {
    border-bottom: 1px solid dimgrey;
    position: sticky;
}

nav: hover {
    text-decoration: none;
    background-color: white;
}

.dropbtn {
    padding: 16px;
    width: 15vw;
    align: center;
    border: none
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
    display: none;
    padding: 16px;
    width: 15vw;
    background-color: whitesmoke
}

.dropdown-content a {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}
